<!-- ======= Footer ======= -->
<footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p class="mb-1">&copy; Copyright William A Ferguson. All Rights Reserved</p>
          <div class="credits">
            <!-- Change link to website -->
            Designed by <a href="#">William A. Ferguson</a>
          </div>
        </div>
        <div class="col-sm-6 social text-md-end">
          <!-- <a href="#"><span class="bi bi-twitter"></span></a> -->
          <a href="https://www.facebook.com/william.a.ferguson"><span class="bi bi-facebook"></span></a>
          <!-- <a href="#"><span class="bi bi-instagram"></span></a> -->
          <a href="https://www.linkedin.com/in/william-ferguson-6764b87/"><span class="bi bi-linkedin"></span></a>
        </div>
      </div>
    </div>
  </footer>