<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head') %>
</head>

<body>

  <%- include('includes/navbar') %>

  <main id="main">

    <section class="section pb-5">
      <div class="container">
        <div class="row mb-5 align-items-end">
          <div class="col-md-6" data-aos="fade-up">

            <h2>About Me</h2>
            <p class="mb-0">I am William A. Ferguson, a drinking artist with a modular synth problem and a passion for web design.</p>
          </div>

        </div>

        <div class="row">
          <div class="col-md-4 ml-auto order-2" data-aos="fade-up">
            <h3 class="h3 mb-4">Skills</h3>
            <ul class="list-unstyled">
              <li class="mb-3">
                <div class="d-flex mb-1">
                  <strong>HTML5/CSS</strong>
                  <span class="ml-auto">&nbsp;96%</span>
                </div>
                <div class="progress custom-progress">
                  <div class="progress-bar" role="progressbar" style="width: 96%" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </li>
              <li class="mb-3">
                <div class="d-flex mb-1">
                  <strong>Bootstrap</strong>
                  <span class="ml-auto">&nbsp;99%</span>
                </div>
                <div class="progress custom-progress">
                  <div class="progress-bar" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </li>
              <li class="mb-3">
                <div class="d-flex mb-1">
                  <strong>Javascript</strong>
                  <span class="ml-auto">&nbsp;87%</span>
                </div>
                <div class="progress custom-progress">
                  <div class="progress-bar" role="progressbar" style="width: 87%" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </li>
              <li class="mb-3">
                <div class="d-flex mb-1">
                  <strong>Node.js</strong>
                  <span class="ml-auto">&nbsp;100%</span>
                </div>
                <div class="progress custom-progress">
                  <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </li>
              <li class="mb-3">
                <div class="d-flex mb-1">
                  <strong>EJS</strong>
                  <span class="ml-auto">&nbsp;100%</span>
                </div>
                <div class="progress custom-progress">
                  <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </li>
            </ul>
          </div>

          <div class="col-md-7 mb-5 mb-md-0" data-aos="fade-up">
            <p><img src="assets/img/person_1_sq.jpg" alt="Image" class="img-fluid"></p>
            <p>I create mesmerizing web designs while indulging in my passion experimenting with modular synth soundscapes.</p>
            <p>With a keen eye for aesthetics and a deep understanding of web development technologies, I bring unique and engaging designs to life.</p>
            <p>Let's collaborate and make your online presence stand out from the crowd. Cheers!</p>
            <p><a href="#" class="readmore">Download my Resume</a></p>
          </div>

        </div>

      </div>

    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <%- include('includes/footer') %>
  </footer>

  <%- include('includes/scripts') %>

</body>

</html>