<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head') %>
</head>

<body>

<%- include('includes/navbar') %>

  <main id="main">
    <section class="section pb-5">
      <div class="container">

        <div class="row mb-5 align-items-end">
          <div class="col-md-6" data-aos="fade-up">
            <h2>Contact</h2>
            <p class="mb-0">If you're ready to take your online presence to the next level, I'm here to help. Don't hesitate to reach out to me for a consultation or to discuss your web development needs. Let's collaborate to create a tailored solution that meets your goals and exceeds your expectations.</p>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0" data-aos="fade-up">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">

              <div class="row gy-3">
                <div class="col-md-6 form-group">
                  <label for="name">Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="col-md-6 form-group">
                  <label for="name">Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
                <div class="col-md-12 form-group">
                  <label for="name">Subject</label>
                  <input type="text" class="form-control" name="subject" id="subject" required>
                </div>
                <div class="col-md-12 form-group">
                  <label for="name">Message</label>
                  <textarea class="form-control" name="message" cols="30" rows="10" required></textarea>
                </div>

                <div class="col-md-12 my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>

                <div class="col-md-6 mt-0 form-group">
                  <input type="submit" class="readmore d-block w-100" value="Send Message">
                </div>
              </div>

            </form>

          </div>

          

        </div>

      </div>

    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
    <footer>
        <%- include('includes/footer') %>
    </footer>

    <%- include('includes/scripts') %>

</body>

</html>