<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head') %>
</head>

<body>

  <%- include('includes/navbar') %>

  <main id="main">

    <section class="section">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-7" data-aos="fade-up">

            <h1>My Services</h1>
            <p>Thank you for considering my web development services. I offer a range of solutions to help you establish a strong online presence. Here is an overview of the services I provide:</p>


          </div>

        </div>
      </div>

      <div class="site-section pb-1 services">
        <div class="container">

          <div class="row">

            <div class="col-13 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
              <i class="bi bi-card-checklist"></i>
              <h3 class="h4 mb-2">Web Design</h4>
              <p>As a web designer, my role involves creating visually appealing and functional websites that meet my clients' needs.</p>
              <ul class="list-unstyled list-line">
                <li>I design the layout and user interface of websites.</li>
                <li>I ensure the website's aesthetics align with my clients' requirements.</li>
                <li>I implement responsive design to optimize the site for various devices.</li>
                <li>I collaborate with clients to understand their objectives and target audience.</li>
                <li>I create wireframes, prototypes, and mockups to visualize design concepts.</li>
                <li>I choose appropriate colors, fonts, and graphics to enhance the website's visual appeal.</li>
                <li>I optimize web pages for fast loading speed and optimal performance.</li>
              </ul>
            </div>
            <div class="col-13 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-binoculars"></i>
              <h3 class="h4 mb-2">Pricing</h4>
              <p>Thank you for considering my web design services. Here is an overview of my pricing:</p>
              <ul class="list-unstyled list-line">
                <li>Single Page Application website: $450</li>
                <li>More detailed websites (e.g., eCommerce): $450 per hour</li>
                <li>Additional services and customizations can be discussed and priced accordingly.</li>
                <li>Please note that prices may vary depending on the specific requirements of your project.</li>
                <li>I offer transparent and fair pricing to ensure your satisfaction with the final product.</li>
              </ul>
            </div>
            <!-- <div class="col-13 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
              <i class="bi bi-brightness-high"></i>
              <h3 class="h4 mb-2">Graphic Design</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
              <ul class="list-unstyled list-line">
                <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
                <li>Non pariatur nisi</li>
                <li>Magnam soluta quod</li>
                <li>Lorem ipsum dolor</li>
                <li>Cumque quae aliquam</li>
              </ul>
            </div>
            <div class="col-13 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-calendar3-week"></i>
              <h3 class="h4 mb-2">SEO</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
              <ul class="list-unstyled list-line">
                <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
                <li>Non pariatur nisi</li>
                <li>Magnam soluta quod</li>
                <li>Lorem ipsum dolor</li>
                <li>Cumque quae aliquam</li>
              </ul>
            </div> -->
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Testimonials Section ======= -->
    <section class="section pt-1">
      <div class="container">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="99">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial">
                  <img src="assets/img/claire_1.jpg" alt="Image" class="img-fluid">
                  <blockquote>
                    <p>I chose William for my sewing alterations and dressmaking company's website, and his exceptional skills and professionalism resulted in a high-quality and user-friendly website. I highly recommend him for his excellent communication, expertise, and ability to create a professional online presence for businesses.</p>
                  </blockquote>
                  <p>&mdash; Claire Martin</p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial">
                  <img src="assets/img/person_1.jpg" alt="Image" class="img-fluid">
                  <blockquote>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus incidunt ut officiis
                      explicabo inventore.</p>
                  </blockquote>
                  <p>&mdash; Chris Stanworth</p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <%- include('includes/footer') %>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <%- include('includes/scripts') %>

</body>

</html>